src/examples/javadiptraceasciilib/flashlight_schematics.asc linguist-detectable=false
src/examples/javadiptraceasciilib/flashlight_schematics_new.asc linguist-generated=true
src/examples/javadiptraceasciilib/flashlight_pcb.asc linguist-detectable=false
src/examples/javadiptraceasciilib/flashlight_pcb_new.asc linguist-generated=true

findbugs linguist-vendored=false
checkstyle linguist-vendored=false
jacoco linguist-vendored=false
